
NerdStore/.vs/NerdStore/DesignTimeBuild/.dtbcache.v2
NerdStore/.vs/NerdStore/v16/.suo
NerdStore/.vs/NerdStore/v16/TestStore/0/000.testlog
NerdStore/.vs/NerdStore/config/applicationhost.config
NerdStore/.vs/NerdStore/v16/TestStore/0/testlog.manifest
